@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #f3f4f6;
    --foreground: #111827;
    --scrollbar-track: #e5e7eb;
    --scrollbar-thumb: #9ca3af;
    --gray-200: #e5e7eb;
    --green-600: #16a34a;
    --red-600: #dc2626;
  }

  :root[class~="dark"] {
    --background: #111827;
    --foreground: #f3f4f6;
    --scrollbar-track: #374151;
    --scrollbar-thumb: #4b5563;
    --gray-200: #374151;
    --green-600: #22c55e;
    --red-600: #ef4444;
  }

  body {
    @apply bg-gray-50 dark:bg-gray-900;
    position: relative;
    isolation: isolate;
  }

  body::before,
  body::after {
    content: '';
    position: fixed;
    inset: 0;
    z-index: -1;
    transform: translateZ(0);
    pointer-events: none;
  }

  body::before {
    background: radial-gradient(
      circle at top left,
      theme(colors.indigo.200 / 30%) 0%,
      transparent 50%
    );
    filter: blur(64px);
  }

  body::after {
    background: radial-gradient(
      circle at bottom right,
      theme(colors.indigo.200 / 30%) 0%,
      transparent 50%
    );
    filter: blur(64px);
  }

  .dark body::before {
    background: radial-gradient(
      circle at top left,
      theme(colors.indigo.700 / 30%) 0%,
      transparent 50%
    );
  }

  .dark body::after {
    background: radial-gradient(
      circle at bottom right,
      theme(colors.indigo.700 / 30%) 0%,
      transparent 50%
    );
  }
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  margin-right: calc(100% - 100vw);
  overflow: inherit !important;
  padding-right: inherit !important;  
}

html::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

html::-webkit-scrollbar-track {
  background: #e5e7eb;
  transition: background-color 0.2s ease;
}

html::-webkit-scrollbar-thumb {
  background: #9ca3af;
  border-radius: 4px;
  transition: background-color 0.2s ease;
}

html.dark::-webkit-scrollbar-track {
  background: #374151;
}

html.dark::-webkit-scrollbar-thumb {
  background: #4b5563;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--background);
  color: var(--foreground);
  overflow-x: hidden;
}

.scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.scrollbar::-webkit-scrollbar-track {
  background: #e5e7eb;
  transition: background-color 0.2s ease;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: #9ca3af;
  border-radius: 4px;
  transition: background-color 0.2s ease;
}

.dark .scrollbar::-webkit-scrollbar-track {
  background: #374151;
}

.dark .scrollbar::-webkit-scrollbar-thumb {
  background: #4b5563;
}

